/* Importing free font from google */
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Courgette|Oswald:500');

#background {
    /* Includes the background gif */
    background-image: url(../Images/about_background.gif);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#overlay {
    /* Blue overlay over the gif */
    background: rgba(39,62,84,0.89);
    overflow: hidden;
    z-index: 2;
}

/* -------------------- Section 1 -------------------- */

/* This section includes the heading, along with the 
   paragraphs placed over the gifs */

#section1 {
    /* Creating a width for entire section */
    width: 57%;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 3.5em;
    padding-bottom: 5em;
}

#heading {
    /* The about us title of the page */
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    letter-spacing: 0px;
}

.ptop {
    /* First paragraph spacing from top */
    margin-top: 1.7em;
    font-size: 21px;
    font-weight: 550;
    /* Adding curisve font family */
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}

.pspacing {
    /* Spacing between each paragraphs following */
    margin-top: 1.7em;
    font-size: 21px;
    font-weight: 550;
     /* Adding curisve font family */
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}


/* ---------- Section 2 ---------*/

/* This section includes each team members
   information and bios along with their
   pictures */

#section2 {
    /* Overall section code */
    padding-top: 4em;
    background-color: white;
    margin: 0 auto;
}

#section2Title {
    /* The title of the section "Our Team" */
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
    margin-bottom: 0.5em;
}

.membersAll {
    width: 100%;
    /* Centering all the divs */
    text-align: center;
}

.memberOverall {
    /* Every members div will have this */
    transition: all .3s ease-in-out;
    box-shadow: 0 0 30px #cccccc;
    display: inline-block;
    margin-top: 5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.memberOverall:hover {
    /* A box shadow displays on hover to emphasize
       the div that is hovered */
    transform: translateY(-30px);
    box-shadow:4px 4px 20px #999 , -4px -4px 20px #999 ;
}

.upper_info {
    /* Member image will be placed in this div. The background
       below is an automatic image for those who do not have
       a headshot */

    /* If you have a headhsot add it to your memberOverall div
       using inline styling */
    background-image: url(../Images/about_background.jpg);
    background-size: contain;
    background-size: cover;
    width: 350px;
    height: 300px;
}

.item-overlay {
    /* Adding the CSS code for the animation effect */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /* Background colour of the image */
    background: rgba(0,0,0,0.65);
    /* Text of the colour for our bio */
    color: #fff;
    overflow: hidden;
    /* Centering the text for everything */
    text-align: center;
    width: 100%; 
    /* Animation effect, that goes from top to bottom */
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s ease-in-out;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s ease-in-out;
}

/* Animation works when user hovers over a memberOverall div */
.memberOverall:hover .item-overlay.bottom {
    bottom: 0;
}

/* Making sure the animation effect goes from top to bottom */
.item-overlay.bottom {
    bottom: 100%;
}

/* Div for all the social media icons, github, linkedin, and email */
.memberSocialMedia {
    display: none;
    /* Positioning them over the image. Will only display on hover. */
    position: absolute;
    margin-top: 0px;
    /* Spacing the icons from the right side and left side */
    left: 10%;
    right: 10%;
    /* Making the icons fade in on hover */
    -webkit-animation: fadein 1.8s; 
}

/* Fade in animation effect for all media links */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
 }
 
 /* Doing it again for safari and Chrome */
 @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
 }

.memberOverall:hover .memberSocialMedia{
    /* If you hover over a memberOverall
       social media links will display
       in white background */
    display: block;
    position: absolute;
    /* Height from top of div hover */
    margin-top: 25px; 
    /*background-color: whitesmoke;
    border-radius: 35px;*/
    left: 10%;
    right: 10%;
}

.bio {
    /* Hiding the bio as it should only display on hover */
    display: none;
}

.memberOverall:hover .bio {
    /* Displaying the bio on the hover only */
    display: block;
    /* Bio spacing from the top */
    margin-top: 95px;
    margin-left: 3.8%;
    margin-right: 3.8%;
    -webkit-animation: fadeins 1.8s; 
}

/* Fade in animation effect for bio */
@keyframes fadeins {
    from { opacity: 0; }
    to   { opacity: 1; }
 }
 
 /* Doing it again for safari and Chrome */
 @-webkit-keyframes fadeins {
    from { opacity: 0; }
    to   { opacity: 1; }
 }

.bottom_info {
    /* Displays all the bottom information including,
       the users name, and position goals */
    background: whitesmoke;
    width: 350px;
    margin: 0 auto;
    box-shadow: 0 0 10px #cccccc;
    padding: 40px 20px 20px;
    position: relative;
    text-align: center;
    z-index: 9;
    display: inline-block;    
}
  
.up_arrow {
    /* Adding an up arrow. This is good UI, so the user 
       knows to hover over the div */
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 30px #cccccc;
    /* Positioning the arrow between upper and lower info */
    height: 50px;
    line-height: 40px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
    cursor: context-menu;
}

.fa {
    /* A class for all the media icons */
    color: whitesmoke;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    /* Space between the soical media links */
    margin-left: 12px;
    margin-right: 12px;
    /* Padding/space between white border */
    padding: 10px;
    /* Adding a transition */
    -webkit-transition-duration: 1s; /* Safari and Chrome */
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform; /* Safari and Chrome */
    transition-property: transform;
}

.fa-github {
    /* Make github icon larger
       as it's smaller than other
       icons */
    font-size: 33px;
}

/* Change on hover to icon Github colour */
.fa-github:hover {
    color: rgb(33, 31, 31);
    font-size: 33px;
}

/* Change on hover to icon Linedin colour */
.fa-linkedin :hover {
    color: #4875B4;
}

/* Change on hover to icon Email colour */
.fa-envelope :hover {
    color: blue;
}

.fa:hover{
    text-decoration: none;
    /* A shake effect on hover of media icon */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

/* Creating the shake effect on hover for media icon */
@keyframes shake {
    /* Chaning the pixels every 10 pixels to maximize
       thw effect for user interface */
    10%, 90% {
      transform: translate3d(-.5px, 0, 0);
    }

    /* Test the pixels and feel free to change
       them if you find a better pixel size */
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
    
.memberName {
    /* Adding a font for the user name */
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}


/*****************************************\
              MOBILE VERSION
/*****************************************/


@media screen and (max-width: 860px) {     
    .ptop {
        margin-top: 2em;
    }
    
    /* Text turns into block needs more spacing in between each paragraph */
    .pspacing {
        margin-top: 2.5em;
    }
    
}

/* Keep the About Us readable throughput resposiveness */
@media screen and (max-width: 1900px) {     
    #section1 {
        width: 59%;
    }
}

/* Keeping the width consistent */
@media screen and (max-width: 1800px) {     
    #section1 {
        width: 60%;
    }
}

/* Keeping the width consistent */
@media screen and (max-width: 1600px) {     
    #section1 {
        width: 70%;
    }
}

/* Keeping the width consistent  and removing
   the break tag as it is not needed anymore */
@media screen and (max-width: 1400px) {     
    #section1 {
        width: 80%;
    }

    br {
        display: none;
    }
}

/* Keeping the width consistent */
@media screen and (max-width: 1200px) {     
    #section1 {
        width: 80%;
    }
}

/* Keeping the width consistent */
@media screen and (max-width: 1200px) {     
    #section1 {
        width: 80%;
    }
}

/* Fixing the margin for the memberOverall div */
@media screen and (max-width: 499px) {
    .memberOverall {
        margin: 32px auto 0px auto;
    }
}

/* Keeping the width consistent and fixing the margin
   for the memberOverall div */
@media screen and (max-width: 399px) {
    .memberOverall {
        width: 300px;
    }

    .upper_info {
        width: 300px;
    }
    
    .bottom_info {
        width: 300px;
    }

    .memberBottom2 {
        margin-top: 32px;
    }
}


/*****************************************\
              MOBILE VERSION
/*****************************************/


/* Galaxy S5 */
@media only screen and (width : 360px) 
    and (height : 640px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 3) {      
}


/* Pixel */
@media only screen 
    and (width : 411px) 
    and (height : 731px)
    and (orientation : portrait)   { 

        .mediaIcon {
            margin-top: 15.5px;
            width: 40px;
            height: 40px;
            padding: 31px 31px;
            margin-right: -13.5px;
        }       

        .leftNav {
            margin-left: 12px;
         }
         
         .logo {
             padding-left: 10px;
         }
}


/* Pixel XL */
@media only screen 
    and (width : 411px) 
    and (height : 823px)
    and (orientation : portrait)   { 

        .mediaIcon {
            margin-top: 15.5px;
            width: 40px;
            height: 40px;
            padding: 31px 31px;
            margin-right: -13.5px;
        }       

        .leftNav {
            margin-left: 12px;
         }
         
         .logo {
             padding-left: 10px;
         }
}


/* Iphone 5/SE */
@media only screen 
    and (width : 320px) 
    and (height : 568px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 2) { 

        .mediaIcon {
            margin-top: 11px;
            width: 40px;
            height: 40px;
            padding: 32px 32px;
            margin-right: -15px;
        }       
}


/* Iphone 6/7/8 */
@media only screen 
    and (width : 375px) 
    and (height : 667px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 2) { 

        .mediaIcon {
            margin-top: 10px;
            width: 40px;
            height: 40px;
            padding: 31.5px 31.5px;
            margin-right: -13px;
        }    

        .leftNav {
           margin-left: 10px;
        }
        
        .logo {
            padding-left: 10px;
        }
}


/* Iphone 6/7/8 Plus */
@media only screen 
    and (width : 414px) 
    and (height : 736px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 3) { 

        .mediaIcon {
            margin-top: 16.5px;
            width: 40px;
            height: 40px;
            padding: 33px 33px;
            margin-right: -15px;
        }    

        .leftNav {
           margin-left: 10px;
        }
        
        .logo {
            padding-left: 10px;
        }
}


/* Iphone X */
@media only screen 
    and (width : 375px) 
    and (height : 812px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 3) { 

}
