@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Courgette|Oswald:500');

html {
    padding: 0;
    margin: 0;
}

#background {
    background-image: url(../Images/about_background.gif);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#overlay {
    background: rgba(39,62,84,0.89);
    overflow: hidden;
    z-index: 2;
}

/* ---------- Section 1 ---------*/

#section1 {
    width: 57%;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 3.5em;
    padding-bottom: 5em;
}

#heading {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    letter-spacing: 0px;
}

.ptop {
    margin-top: 1.7em;
    font-size: 21px;
    font-weight: 550;
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
 
}

.pspacing {
    margin-top: 1.7em;
    font-size: 21px;
    font-weight: 550;
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}


/* ---------- Section 2 ---------*/

#section2 {
    padding-top: 4em;
    background-color: white;
    margin: 0 auto;
}

#section2Title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
    margin-bottom: 0.5em;
}

.membersAll {
    width: 100%;
    text-align: center;
}

.memberOverall {
    transition: all .3s ease-in-out;
    box-shadow: 0 0 30px #cccccc;
    display: inline-block;
    margin-top: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.memberOverall:hover {
    transform: translateY(-30px);
    box-shadow:4px 4px 20px #999 , -4px -4px 20px #999 ;
}

.upper_info {
    background-image: url(../Images/about_background.jpg);
    background-size: contain;
    background-size: cover;
    width: 350px;
    height: 300px;
}

.item-overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%; 
    /* Animation effect, that goes from top to bottom */
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s ease-in-out;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s ease-in-out;
}

.memberOverall:hover .item-overlay.bottom {
    bottom: 0;
}
  
.item-overlay.bottom {
    bottom: 100%;
}

.memberSocialMedia {
    display: none;
    position: absolute;
    margin-top: 110px;
    background-color: whitesmoke;
    border-radius: 35px;
    left: 10%;
    right: 10%;
    -webkit-animation: fadein 1.8s; /* Safari, Chrome and Opera > 12.1 */
}

/* Fade in animation effect for all media links */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
 }
 
 /* Safari, Chrome and Opera > 12.1 */
 @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
 }

.memberOverall:hover .memberSocialMedia{
    /* If you hover over a memberOverall
       social media links will display
       in white background */
    display: block;
    position: absolute;
    margin-top: 110px;
    background-color: whitesmoke;
    border-radius: 35px;
    left: 10%;
    right: 10%;
}

.bottom_info {
    background: whitesmoke;
    width: 350px;
    margin: 0 auto;
    box-shadow: 0 0 10px #cccccc;
    padding: 40px 20px 20px;
    position: relative;
    text-align: center;
    z-index: 9;
    display: inline-block;    
}
  
 .up_arrow {
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 30px #cccccc;
    height: 50px;
    line-height: 40px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
    cursor: context-menu;
}

.fa{
    color: #999;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    /* Space between the soical media links */
    margin-left: 12px;
    margin-right: 12px;
    /* Padding/space between white border */
    padding: 10px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.fa-github {
    /* Make github icon larger
       as it's smaller than other
       icons */
    font-size: 33px;
}

/* Change on hover to icon Github colour */
.fa-github:hover {
    color: rgb(33, 31, 31);
    font-size: 33px;
}

/* Change on hover to icon Linedin colour */
.fa-linkedin :hover {
    color: #4875B4;
}

/* Change on hover to icon Email colour */
.fa-envelope :hover {
    color: blue;
}

.fa:hover{
    text-decoration: none;
    /* A shake effect on hover of media icon */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

/* Creating the shake effect on hover for media icon */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-.5px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
    
.memberName {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

/* Go before member 4 */
.memberBottom2 {
    /* Spacing between top set of members and 
    bottom set of members (e.g 3 on top, 2 
    on the bottom */
    margin-top: 5em;
}

























@media screen and (max-width: 860px) {     
    .ptop {
        margin-top: 2em;
    }
    
    /* Text turns into block needs more spacing in between each paragraph */
    .pspacing {
        margin-top: 2.5em;
    }
    
}





/* Keep the About Us readable throughput resposiveness */

@media screen and (max-width: 1900px) {     
    #section1 {
        width: 59%;
    }
}

@media screen and (max-width: 1800px) {     
    #section1 {
        width: 60%;
    }
}

@media screen and (max-width: 1600px) {     
    #section1 {
        width: 70%;
    }
}

@media screen and (max-width: 1400px) {     
    #section1 {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {     
    #section1 {
        width: 80%;
    }
}


