.disclaimerOverall {
    background-color:  rgba(39,62,84,0.89);  
    height: 140px;
}

.contactInfo{
    padding-right: 30px;
    width: 400px;
    float: right;
}

.location{
    float: left;
    width:350px;
    padding-left: 30px;
    padding-top: 20px;
}
