@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Courgette|Oswald:500');

html {
    padding: 0;
    margin: 0;
}

body {
    background-image: ('../Images');
    
}

#background {
    background-image: url(../Images/about_background.gif);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

header {
    background-color: rgba(39,62,84,0.89);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
    Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",
    "Noto Color Emoji";
}

.slider {
    z-index: 99;
}

#overlay {
    background: rgba(39,62,84,0.89);
    overflow: hidden;
    z-index: 2;
}

/* ------------------- Button -------------*/

.add-update {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    border-radius: 0;
}

/* Page Load Fade In */
header {
-webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1.2s; /* Firefox < 16 */
       -ms-animation: fadein 1.2s; /* Internet Explorer */
        -o-animation: fadein 1.2s; /* Opera < 12.1 */
           animation: fadein 1.2s;
}


@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}
  
.EasterButton {
    background: transparent;
    color: transparent;
    border: none;
    border: none !important;
}

/* ---------- Section 1 ---------*/

#section1 {
    margin: auto 0;
    text-align: center;
    color: white;
    margin-top: 3.5em;
    margin-left: 26em;
    margin-right: 26em;
    padding-bottom: 5em;
}

#heading {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    letter-spacing: 0px;
}

.ptop {
    margin-top: 1.7em;
    font-size: 21px;
    font-weight: 550;
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
 
}

.pspacing {
    margin-top: 1.7em;
    font-size: 21px;
    font-weight: 550;
    font-family: 'Oswald', sans-serif;
    font-family: 'Courgette', cursive;
}


/* ---------- Section 2 ---------*/

#section2 {
    padding-top: 4em;
    background-color: white;
    margin: 0 auto;


}

#section2Title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
    margin-bottom: 0.5em;
}

 .bottom_info {
    background: whitesmoke;
    width: 350px;
    margin: 0 auto;
    box-shadow: 0 0 10px #cccccc;
    padding: 40px 20px 20px;
    position: relative;
    text-align: center;
    z-index: 9;
    
    display: inline-block;

    
  }
  
 .up_arrow {
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 30px #cccccc;
    height: 50px;
    line-height: 40px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
  }


  

  .memberName {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.memberImages{
 
    box-shadow: 0 0 10px #cccccc;
    
  
}

.memberOverall {
    transition: all .3s ease-in-out;
    box-shadow: 0 0 30px #cccccc;

    
  }

.memberOverall:hover {
    transform: translateY(-30px);
    box-shadow:2px 2px 10px #999 , -2px -2px 10px #999 ;
    cursor: pointer;

    
  }

  .memberOverall {
    display: inline-block;
    margin: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}



.membersAll {
    width: 100%;
  text-align: center;
}

.memberBottom2 {
    margin-top: 3em;
}

.fa{
    color: #999;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    /* Space between the soical media links */
    margin-left: 14px;
    margin-right: 14px;
    /* Padding/space between white border */
    padding: 10px;

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

}

.fa:hover{
    text-decoration: none;
    font-size: 30px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
    

@keyframes shake {
    10%, 90% {
      transform: translate3d(-.5px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}


.fa-github {
    font-size: 33px;
}

.fa-github:hover {
    font-size: 33px;
    color: rgb(33, 31, 31);
}

.fa-linkedin :hover {
    color: #4875B4;
}

.fa-envelope :hover {
    color: blue;
}

.upper_info {
    background-image: url(../Images/about_background.jpg);
    background-size: contain;
    background-size: cover;
    width: 350px;
    height: 300px;
}

.memberSocialMedia{
   
    position: absolute;
    margin-top: 110px;
    background-color: whitesmoke;
    border-radius: 35px;

}

.overall{
    background-color: white;
    width: 50px;
    padding-left: 20px;
    margin-left: 800px;
    margin-top: 75px;
    margin-bottom: 20px;
    float: right;
    border-style: solid;
    border-color: black;
    overflow: scroll;
}

#lotNo{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

.float-my-children > * {
    width: 650px;
    height: 500px;
    margin-left: 0px;
    margin-top: 150px;
    float:left;
}
#upid0{
    border-style: solid;
    font-family: 'Libre Baskerville', serif;
        background-color: #EBEBEB;
    text-align: center;
    margin-bottom: 8px;
    border-width: 2px;
    height: 155px;
    width: 580px;
    border-color: black;
}

#upid1{
    border-style: solid;
    font-family: 'Libre Baskerville', serif;
    background-color: #EBEBEB;
    text-align: center;
    margin-bottom: 8px;
    border-width: 2px;
    height: 155px;
    width: 580px;
    border-color: black;
}

#upid2{
    border-style: solid;
    font-family: 'Libre Baskerville', serif;
    background-color: #EBEBEB;
    text-align: center;
    margin-bottom: 8px;
    border-width: 2px;
    height: 155px;
    width: 580px;
    border-color: black;
}

#status-div{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 10px;
}

#updates-div{
    margin-top: -10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}


.updates{
    border-style: solid;
    text-align: center;
    margin-bottom: 5px;
    border-width: 2px;
    height: 121px;
    width: 450px;
    border-color: black;
}

.add-update{
    border-style: solid;
    text-align: right;
    border-width: 2px;
    height: 121px;
    width: 450px;
    border-color: black;
}

.views-div{
    margin-top: 10px;
}

.actualOverall {
    width: 1310px;
    height: 400px;
    margin-left: 330px;
}

#log-in-btn {
    margin-bottom: 15px;
    margin-top: 15px;
}
.colorIndicator {
    text-align: center; 
    font-size: 30px; 
    font-weight: 800;
    margin-top: 30px;
    font-weight: 700;
}

#update-btn {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}



.confirm {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}


.modal-title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

#status1 {
    font-size: 20px;
    text-transform: uppercase;
}


