@import url('https://fonts.googleapis.com/css?family=Niconne');

/* --------------- Heading --------------*/

header {
    display:flex;
    justify-content: space-between;
    color: white;
    background: rgba(0,0,0,0.2);
}
    
header nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* Font size and type for navigation bar (centered) */
    font-size: 20px;
    /* Navigation bar (center) font size and type */
    font-size: 23px;
    font-weight: 900;
    line-height: 20px;
    padding-top: 3em;
    padding-bottom: 2em;   
}

/* ---------- Right side of heading ----------*/

.rightNav {
    margin-top: auto;
    margin-bottom: auto;
    display:block;
    justify-content: space-between;
    align-items: center; 
    margin-right: 2em;
    padding-left: 70px;
    padding-right: 70px;
}

.myButton {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    border-radius: 0;
}

.myButton_desktop {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.myButton:active { 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4); 
    transform: scale(.9);
}

.myButton:hover {
    transform: scale(1.05);
}

.myButton:focus {
    transform: scale(1.05);
}

.myButton .btn-ripple {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    transform: scale(0);
    animation: ripple 1s;
}

.rightNav > div {
    margin: 8px 0 8px 0;
    width: 100%;
    float: right;
    position: relative;
    text-align: center;
}

.signUp {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.sign_in_button {
    display: block;
    margin: auto;
    font-size: 26px;
}

.sign_out_button {
    background-color: red;
    border: red;
}

.sign_out_button:hover {
    background-color: #DC143C;
    border: #DC143C;
}

.acc_name {
    margin: 10px 0;
    font-size: 28px;
    text-decoration: none;
    color: #FFFFFF;
}

#acc_name_text {
    color: #FFFFFF;
}

#acc_name_text:hover {
    text-decoration: none;
    color: #0183DA;
}

#acc_name_mobile {
	font-size: 24px;
}

/* ---------- Left side of heading ----------*/

.leftNav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;    
}

.logo {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
    font-size: 50px;
    text-decoration: none;
    list-style: none;
    display: inline;
}

.logo:hover {
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    font-size: 63px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
    cursor: pointer;
}

/* ---------- Center of heading ----------*/

nav ul li{
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 100px;
    letter-spacing: 5px;
}

nav li > a{
    /* Padding is for the hover background. */
    padding: 1.5em;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    text-decoration: none;
    color: white;
}

nav li a:hover{
    text-decoration: none;
    color:whitesmoke;
    background: rgba(255,255,255,.2);
}

/* ------------------- Button -------------*/

.myButton {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    border-radius: 0;
  }
  
h3 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px;
    line-height: 0.5em;
}

/* -----Icon and Slider CSS -----*/

.mediaIconDiv {
    display:flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    cursor: pointer;
}

.mediaIcon {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    width: 95px;
    height: 95px;
    padding: 20px 20px;
    margin-right: 12px;
}

.slider {
    display: none;
}

.slider > ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 28px;
}

.slider_widget_button {
    margin-left: 0px;
    margin-bottom: 10px;
}

#slider_widget_text {
    color: white;
    font-size: 18px;
}

#slider_user_widget {
    height: 120px;
    border-bottom: 1px solid white;
}

.my_acc_link {
    font-size: 18px;
    height: 40px;
    padding: auto 0px;
}

/* -----Responsiveness -----*/
@media only screen and (max-width: 1759px) {

    /* -----Slider Changes----- */

    .logo {
        padding : 0;
    }
}


@media only screen and (max-width: 1632px) {
    /*-----Header Bar Changes ----- */

    nav ul li {
        display: none;
    }

    header > .rightNav {
        display: none;
    }

    .logo {
        padding-left: 0;
        padding-right: 0;
    }

    /* -----Slider Changes----- */
    .slider ul li a {
        font-size: 24px;
        text-decoration: none;
        color: white;
    }

    .slider ul li {
        margin: 0px;
        padding: 10px 20px;
    }

    .mediaIconDiv {
        display: block;
    }

    .slider {
        float : right;
        color : white;
        position : absolute;
        background-color: #3e4f6b;
        padding : 20px 50px;
        width : 600px;
    }

    .slider ul {
        padding: 0px;
    }
}

@media only screen and (max-width: 999px) {

    /* -----Slider Changes----- */
    .slider {
        width : 550px;
    }
}

@media only screen and (max-width: 899px) {
    /* -----Slider Changes----- */
    .slider {
        width : 500px;
    }
}

@media only screen and (max-width: 799px) {
    /* -----Slider Changes----- */
    .slider {
        width : 450px;
    }
}

@media only screen and (max-width: 699px) {
    /* -----Slider Changes----- */
    .slider {
        width : 400px;
    }
}

@media only screen and (max-width: 599px) {
    /*-----Header Bar Changes ----- */
    .logo {
        font-size: 48px;
    }
    
    .mediaIcon {
        width: 90px;
        height: 90px;
        margin-top: 20px;
    }

    /* -----Slider Changes----- */
    .slider {
        width : 100%;
        padding: 0px auto;
        text-align: center;
    }

    .slider_widget_button {
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media only screen and (max-width: 499px) {
    /*-----Header Bar Changes ----- */
    .logo {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 36px;
    }

    .mediaIcon {
        display: block;
        width: 80px;
        height: 80px;
    }

    .mediaIconDiv img {
        width: 100px;
        height: 100px;
    }

    /* -----Slider Changes----- */
    .slider ul {
        padding-left: 0px;
        margin: 0px;
    }

    .slider {
        padding: 10px 50px;
    }

    .slider ul li {
        padding: 5px 0px;
    }

    .slider ul li a {
        font-size: 24px;
    }
}

@media only screen and (max-width: 399px) {
    /*-----Header Bar Changes ----- */
    .leftNav {
        margin: 0px;
    }

    .logo {
        margin-top: 10px;
    }

    nav {
        position: absolute;
        left: -999999px;
    }

    .mediaIcon {
        margin-right: 0px;
    }

    .slider_widget_button {
        font-size: 18px;
    }
    
    #slider_user_widget {
        height: 80px;
        border-bottom: solid;
    }
}


/*****************************************\
              MOBILE VERSION
/*****************************************/

/* Galaxy S5 */
@media only screen and (width : 360px) 
    and (height : 640px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 3) { 

        .mediaIcon {
            margin-top: 11px;
            width: 40px;
            height: 40px;
            padding: 32px 32px;
            margin-right: -13.5px;
        }       
}


/* Pixel */
@media only screen 
    and (width : 411px) 
    and (height : 731px)
    and (orientation : portrait)   { 

        .mediaIcon {
            margin-top: 15.5px;
            width: 40px;
            height: 40px;
            padding: 31px 31px;
            margin-right: -13.5px;
        }       

        .leftNav {
            margin-left: 12px;
         }
         
         .logo {
             padding-left: 10px;
         }
}


/* Pixel XL */
@media only screen 
    and (width : 411px) 
    and (height : 823px)
    and (orientation : portrait)   { 

        .mediaIcon {
            margin-top: 15.5px;
            width: 40px;
            height: 40px;
            padding: 31px 31px;
            margin-right: -13.5px;
        }       

        .leftNav {
            margin-left: 12px;
         }
         
         .logo {
             padding-left: 10px;
         }
}


/* Iphone 5/SE */
@media only screen 
    and (width : 320px) 
    and (height : 568px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 2) { 

        .mediaIcon {
            margin-top: 11px;
            width: 40px;
            height: 40px;
            padding: 32px 32px;
            margin-right: -15px;
        }     
}


/* Iphone 6/7/8 */
@media only screen 
    and (width : 375px) 
    and (height : 667px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 2) { 

        .mediaIcon {
            margin-top: 10px;
            width: 40px;
            height: 40px;
            padding: 31.5px 31.5px;
            margin-right: -13px;
        }    

        .leftNav {
           margin-left: 10px;
        }
        
        .logo {
            padding-left: 10px;
        }
}


/* Iphone 6/7/8 Plus */
@media only screen 
    and (width : 414px) 
    and (height : 736px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 3) { 

        .mediaIcon {
            margin-top: 16.5px;
            width: 40px;
            height: 40px;
            padding: 33px 33px;
            margin-right: -15px;
        }    

        .leftNav {
           margin-left: 10px;
        }
        
        .logo {
            padding-left: 10px;
        }
}


/* Iphone X */
@media only screen 
    and (width : 375px) 
    and (height : 812px)
    and (orientation : portrait)  
    and (-webkit-device-pixel-ratio : 3) { 

        .mediaIcon {
            margin-top: 11px;
            width: 40px;
            height: 40px;
            padding: 33px 33px;
            margin-right: -15px;
        }       
}