@import url('https://fonts.googleapis.com/css?family=Niconne');

/* --------------- Heading --------------*/

header {
    display:flex;
    justify-content: space-between;
    color: white;
    background: rgba(0,0,0,0.2)
  }
    
header nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* Font size and type for navigation bar (centered) */
    font-size: 20px;
    /* Navigation bar (center) font size and type */
    font-size: 23px;
    font-weight: 900;
    line-height: 20px;
    padding-top: 3em;
    padding-bottom: 2em;   
}

/* ---------- Right side of heading ----------*/

.rightNav {
    margin-top: auto;
    margin-bottom: auto;
    display:block;
    justify-content: space-between;
    align-items: center; 
    margin-right: 2em;
    padding-left: 70px;
    padding-right: 70px;
}

.myButton {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    border-radius: 0;
}

.myButton:active { 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4); 
    transform: scale(.9);
}

.myButton:hover {
    transform: scale(1.05);
}

.myButton:focus {
    transform: scale(1.05);
}

.myButton .btn-ripple {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    transform: scale(0);
    animation: ripple 1s;
}

.rightNav > div {
    margin: 8px 0 8px 0;
    width: 100%;
    float: right;
    position: relative;
    text-align: center;
}

.signUp {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

#sign_in_button {
    display: block;
    margin: auto;
    font-size: 26px;
}

#sign_out_button {
    background-color: red;
    border: red;
}

#acc_name {
    margin: 10px 0;
    font-size: 28px;
}

/* ---------- Left side of heading ----------*/

.leftNav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;    
}

.logo {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
    font-size: 50px;
    text-decoration: none;
    list-style: none;
    display: inline;
}

.logo:hover {
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    font-size: 63px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
    cursor: pointer;
}

/* ---------- Center of heading ----------*/

nav ul li{
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 100px;
    letter-spacing: 5px;
}

nav li > a{
    /* Padding is for the hover background. */
    padding: 1.5em;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    text-decoration: none;
    color: white;
}

nav li a:hover{
    text-decoration: none;
    color:whitesmoke;
    background: rgba(255,255,255,.2);
}

/* ------------------- Button -------------*/

.myButton {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    border-radius: 0;
  }
  
h3 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px;
    line-height: 0.5em;
}

/* ---------------- Responsiveness ----------------*/