@import url('https://fonts.googleapis.com/css?family=Niconne');

body {
    background-color: blue;
}

/* ------------------- Button -------------*/
.myButton {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    border-radius: 0;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.4); 

}

.myButton:active { 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4); 
    transform: translateY(7px) translateX(7px);
  
}

/* --------------- Heading --------------*/

header {
    display:flex;
    justify-content: space-between;
    color: white;
    background: rgba(0,0,0,0.2)
}
  
header nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD:Application/CSS/index.css
    /* Font size and type for navigation bar (centered) */
    font-size: 20px;
=======
    /* Navigation bar (center) font size and type */
    font-size: 23px;
    font-weight: 900;
    line-height: 20px;
>>>>>>> Update Main:Application/CSS/main.css
    padding-top: 3em;
    padding-bottom: 2em;
   
}

/* ---------- Right side of heading ----------*/

.rightNav {
    margin-top: 1.1em;
    display:block;
    justify-content: space-between;
    align-items: center;
    margin-right: 4.5em;    
}

.rightNav > div {
    margin: 8px 0 8px 0;
    width: 100%;
    float: right;
    position: relative;
    text-align: center;
}

.signUp {
    font-size: 20px;
    color: white;
    text-decoration: none;
}



/* ---------- Left side of heading ----------*/

.leftNav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;    
}

.logo {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
    font-size: 50px;
    text-decoration: none;
    list-style: none;
    display: inline;
}

.logo:hover {
    text-decoration: none;
    color: whitesmoke;
}

.logo {
    font-size: 63px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
}

/* ---------- Center of heading ----------*/

nav ul li{
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 100px;
    letter-spacing: 5px;
}
  
nav li a{
    /* Padding is for the hover background. */
    padding: 1.5em;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    text-decoration: none;
    color: white;
}
  
nav li a:hover{
    text-decoration: none;
    color:whitesmoke;
    background: rgba(255,255,255,.2);
}

/* ------------ Main Title ----------------- */

.titleText {
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
    font-size: 200px;
}

h3 {
    text-transform: uppercase;
}
  