@import url('https://fonts.googleapis.com/css?family=Niconne');

html {
  padding: 0;
  margin: 0;
}

#background {
    background-image: url(../Images/index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#overlay {

    background: rgba(39,62,84,0.89);
    overflow: hidden;
    z-index: 2;
}

/* --------- Pre Loading Screen -----*/

.spinner{
  width: 80px;
  height: 80px;  
  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

#loading{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
}

/* ---------- Right side of heading ----------*/

.rightNav {
    margin-top: auto;
    margin-bottom: auto;
    display:block;
    justify-content: space-between;
    align-items: center; 
    margin-right: 2em;
    padding-left: 60px;
    padding-right: 60px;
}

.myButton {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    border-radius: 0;
}

.myButton:active { 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4); 
    transform: scale(.9);
}

.myButton:hover {
    transform: scale(1.05);
}

.myButton:focus {
    transform: scale(1.05);
}

.myButton .btn-ripple {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    transform: scale(0);
    animation: ripple 1s;
}

.rightNav > div {
    margin: 8px 0 8px 0;
    width: 100%;
    float: right;
    position: relative;
    text-align: center;
}

.signUp {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

#sign_in_button {
    display: block;
    margin: auto;
    font-size: 32px;
}

#sign_out_button {
    background-color: red;
    border: red;
}

#acc_name {
    margin: 10px 0;
    font-size: 28px;
}

/* ------------ Main Title ----------------- */

.titleText {
    position: relative;
    top: 200px;
    display: block;
    margin: 0 auto;
    margin: 0 auto 0 auto;
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-family: 'Niconne', cursive;
    font: bold;
    font-weight: 900;
    font-size: 200px;
    text-shadow: 5px 5px black
}

h3 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px;
    line-height: 0.5em;
}

p {
    margin: 0px;
}

/* Scroll Down Button */

.scrollButton {
    margin-top: 44em
}

.ovalShape {
    width: 25px;
    margin: 0 auto;
    height:45px;
    border: 2px solid white;
    border-radius: 40px;
    -webkit-animation: bounceAnimation .7s infinite  alternate;
    animation: bounceAnimation .7s infinite  alternate;
    cursor: pointer;
}

@-webkit-keyframes BounceAnimation {
    0% { transform: translateY(.5px); }
    100% { transform: translateY(-13px); }
}
@keyframes bounceAnimation {
    0% { transform: translateY(.5px); }
    100% { transform: translateY(-13px); }
}

.downArrow {
  position: relative;
  content: "";
  display: inline-block;
  width: 12px;
  margin: 0 auto;
  height: 12px;
  border-right: 0.1em solid white;
  border-top: 0.1em solid white;
  transform: rotate(135deg);
  margin-left: 4.950px;
  
}

/*--------------- Page Load Fade In Effects ---------------------- */
header {
-webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1.2s; /* Firefox < 16 */
       -ms-animation: fadein 1.2s; /* Internet Explorer */
        -o-animation: fadein 1.2s; /* Opera < 12.1 */
           animation: fadein 1.2s;
}


@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}
  
.titleText {
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 5s; /* Firefox < 16 */
           -ms-animation: fadein 5s; /* Internet Explorer */
            -o-animation: fadein 5s; /* Opera < 12.1 */
               animation: fadein 5s;
    }
    
    @keyframes fadein {
       from { opacity: 0; }
       to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
       from { opacity: 0; }
       to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
       from { opacity: 0; }
       to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
       from { opacity: 0; }
       to   { opacity: 1; }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
       from { opacity: 0; }
       to   { opacity: 1; }
    }

    /* Type Write Effect */
    .txt-type > .txt {
        border-right: 3px solid white;
    }

/* Easter Egg */
.EasterButton {
    background: green;
    color: transparent;
    border: none;
    border: none !important;
    float: right;
}

header > .Easter {
    display: block;
    z-index: -1;
    position: relative;  
    float: right;
    margin-left: 0;
}

.Easter {
    position: relative;
}

.dust {
    position: absolute;
}
  

